

<h1>Listing employees by Department</h1>

<%= link_to 'Back', employees_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Age in years</th>
      <th>Salary in dollars</th>
      <th>Department</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @employee.where(:department_id =>1).first(1).each do |employee| %>
      <tr>
	    
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.age_in_years %></td>
        <td><%= employee.salary_in_dollars %></td>
        <td><%= employee.department.department_name %></td>
        <td><%= link_to 'Show', employee %></td>
               
      </tr>
    <% end %>
	
	<% @employee.where(:department_id =>2).first(1).each do |employee| %>
      <tr>
	    
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.age_in_years %></td>
        <td><%= employee.salary_in_dollars %></td>
        <td><%= employee.department.department_name %></td>
        <td><%= link_to 'Show', employee %></td>
               
      </tr>
    <% end %>
	
	<% @employee.where(:department_id =>3).first(1).each do |employee| %>
      <tr>
	    
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.age_in_years %></td>
        <td><%= employee.salary_in_dollars %></td>
        <td><%= employee.department.department_name %></td>
        <td><%= link_to 'Show', employee %></td>
               
      </tr>
    <% end %>
	
	<% @employee.where(:department_id =>4).first(1).each do |employee| %>
      <tr>
	    
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.age_in_years %></td>
        <td><%= employee.salary_in_dollars %></td>
        <td><%= employee.department.department_name %></td>
        <td><%= link_to 'Show', employee %></td>
               
      </tr>
    <% end %>
	
	<% @employee.where(:department_id =>5).first(1).each do |employee| %>
      <tr>
	    
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.age_in_years %></td>
        <td><%= employee.salary_in_dollars %></td>
        <td><%= employee.department.department_name %></td>
        <td><%= link_to 'Show', employee %></td>
               
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Back', employees_path %>